<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.dao.FinanceDao">


    <sql id="Finance_Columns">
    t1.id,xybh,sjbh,hybh,name,t1.sale_class,sale_num,agreement,t2.price,should_money,
   real_money,discount,teacher,pay_mode,card_num,counselor,promotion,gift,source,
  t1.create_date,t1.update_date

    </sql>

    <select id="selectForPage" resultType="finance">
        select
        id,center,xybh,sjbh,hybh,name,sale_class,sale_num,agreement,price,should_money,
        real_money,discount,teacher,pay_mode,property,contract_time,card_num,counselor,promotion,gift,source,src,
        create_date,update_date

        FROM   t_finance

        <where>
            is_valid = 1
            <if test="@Ognl@isNotEmpty(center)">
                and center like '%${center}%'
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                and name like '%${name}%'
            </if>
            <if test="@Ognl@isNotEmpty(saleClass)">
                and sale_class like '%${saleClass}%'
            </if>
            <if test="@Ognl@isNotEmpty(start)">
                and create_date BETWEEN #{start} AND #{over}
            </if>
          <!-- 签约时间 -->
            <if test="@Ognl@isNotEmpty(qstart)">
                and contract_time BETWEEN #{qstart} AND #{qover}
            </if>          
            <if test="@Ognl@isNotEmpty(sPayMode)">
                and pay_mode = #{sPayMode}
            </if>
            <if test="@Ognl@isNotEmpty(sProperty)">
                and property = #{sProperty}
            </if>

            order by id DESC

        </where>

    </select>

    <select id="selectCenterList" resultType="finance">
        select
        id,center,xybh,sjbh,hybh,name,sale_class,sale_num,agreement,price,should_money,
   real_money,discount,teacher,pay_mode,property,contract_time,card_num,counselor,promotion,gift,source,
  create_date,update_date

        FROM   t_finance

        <where>
            is_valid = 1
            <if test="@Ognl@isNotEmpty(userCenter)">
            and center = #{userCenter}
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                and name like '%${name}%'
            </if>
            <if test="@Ognl@isNotEmpty(saleClass)">
                and sale_class like '%${saleClass}%'
            </if>
            <if test="@Ognl@isNotEmpty(start)">
                and create_date BETWEEN #{start} AND #{over}
            </if>       
            <if test="@Ognl@isNotEmpty(sProperty)">
                and property = #{sProperty}
            </if>
            <!-- 签约时间 -->
            <if test="@Ognl@isNotEmpty(qstart)">
                and contract_time BETWEEN #{qstart} AND #{qover}
            </if>     
            
            order by id DESC

        </where>

    </select>




    <insert id="insert" >
        INSERT into t_finance (
        center,xybh,sjbh,hybh,name,sale_class,sale_num,agreement,price,should_money,
   real_money,discount,teacher,pay_mode,property,contract_time,card_num,counselor,promotion,gift,source,src,state,is_valid,
  create_date,update_date)
  values (
      #{center}, #{xybh},#{sjbh},#{hybh},#{name},#{saleClass},#{saleNum},#{agreement},#{price},#{shouldMoney},
    #{realMoney},#{discount},#{teacher},#{payMode},#{property},#{contractTime},#{cardNum},#{counselor},#{promotion},#{gift},#{source},#{src},0,1,
  now(),now() )



    </insert>

    <!--<insert id="insertBatch">-->
        <!--insert into t_user_role (-->
          <!--user_id, role_id, create_date, update_date, is_valid-->
        <!--) values -->
        <!--<foreach collection="userRoles" item="userRole" separator="," >-->
        	<!--(#{userRole.userId}, #{userRole.roleId}, now(), now(), 1)-->
        <!--</foreach>-->
    <!--</insert>-->

    <update id="update" >
        update t_finance SET
        xybh=#{xybh},sjbh=#{sjbh},hybh=#{hybh},name=#{name},sale_class=#{saleClass},sale_num=#{saleNum},
        agreement=#{agreement},price=#{price},real_money=#{realMoney},discount=#{discount},pay_mode=#{payMode},property=#{property},contract_time=#{contractTime},
        card_num=#{cardNum},counselor=#{counselor},promotion=#{promotion},gift=#{gift},source=#{source},update_date=now()
        <if test="@Ognl@isNotEmpty(src)">
        ,src=#{src}
        </if>


        <where>
            id=#{id}
        </where>

    </update>

    <select id="findShouldCount" resultType="java.lang.Integer">
        select SUM(should_money) from t_finance
        <where>
            is_valid = 1
            <if test="@Ognl@isNotEmpty(center)">
                and center like '%${center}%'
            </if>
            <if test="@Ognl@isNotEmpty(saleClass)">
                and sale_class like '%${saleClass}%'
            </if>
            <if test="@Ognl@isNotEmpty(start)">
                and create_date BETWEEN #{start} AND #{over}
            </if>
            <if test="@Ognl@isNotEmpty(sPayMode)">
                and pay_mode = #{sPayMode}
            </if>
            <if test="@Ognl@isNotEmpty(sProperty)">
                and property = #{sProperty}
            </if>

        </where>


    </select>

    <select id="findRealCount" resultType="java.lang.Integer">
        select SUM(real_money) from t_finance
        <where>
            is_valid = 1
            <if test="@Ognl@isNotEmpty(center)">
                and center like '%${center}%'
            </if>
            <if test="@Ognl@isNotEmpty(saleClass)">
                and sale_class like '%${saleClass}%'
            </if>
            <if test="@Ognl@isNotEmpty(start)">
                and create_date BETWEEN #{start} AND #{over}

            </if>
            <if test="@Ognl@isNotEmpty(sPayMode)">
                and pay_mode = #{sPayMode}
            </if>
            <if test="@Ognl@isNotEmpty(sProperty)">
                and property = #{sProperty}
            </if>
        </where>

    </select>

    <select id="findDiscount" resultType="Integer">
        select AVG (discount) from t_finance
        <where>
            is_valid = 1
            <if test="@Ognl@isNotEmpty(center)">
                and center like '%${center}%'
            </if>
            <if test="@Ognl@isNotEmpty(saleClass)">
                and sale_class like '%${saleClass}%'
            </if>
            <if test="@Ognl@isNotEmpty(start)">
                and create_date BETWEEN #{start} AND #{over}

            </if>
            <if test="@Ognl@isNotEmpty(sPayMode)">
                and pay_mode = #{sPayMode}
            </if>
            <if test="@Ognl@isNotEmpty(sProperty)">
                and property = #{sProperty}
            </if>
        </where>

    </select>

    <select id="findCount" resultType="java.lang.Integer">
        select count(1) from t_finance
        <where>
            is_valid = 1
            <if test="@Ognl@isNotEmpty(center)">
                and center like '%${center}%'
            </if>
            <if test="@Ognl@isNotEmpty(saleClass)">
                and sale_class like '%${saleClass}%'
            </if>
            <if test="@Ognl@isNotEmpty(start)">
                and create_date BETWEEN #{start} AND #{over}

            </if>

        </where>

    </select>


    <select id="selectForExcel" resultType="finance">
        select
        id,center,xybh,sjbh,hybh,name,sale_class,sale_num,agreement,price,should_money,
        real_money,discount,teacher,pay_mode,property,contract_time,card_num,counselor,promotion,gift,source,
        create_date,update_date

        FROM   t_finance

        <where>
            is_valid = 1
            <if test="@Ognl@isNotEmpty(center)">
                and center like '%${center}%'
            </if>
            <if test="@Ognl@isNotEmpty(saleClass)">
                and sale_class like '%${saleClass}%'
            </if>
            <if test="@Ognl@isNotEmpty(start)">
                and create_date BETWEEN #{start} AND #{over}

            </if>
            <if test="@Ognl@isNotEmpty(sPayMode)">
                and pay_mode = #{sPayMode}
            </if>
            <if test="@Ognl@isNotEmpty(sProperty)">
                and property = #{sProperty}
            </if>


            order by id DESC

        </where>

    </select>


    <select id="findExamineList" resultType="finance">
        select
        id,center,xybh,sjbh,hybh,name,sale_class,sale_num,agreement,price,should_money,
        real_money,discount,teacher,pay_mode,property,contract_time,card_num,counselor,promotion,gift,source,src,
        create_date,update_date

        FROM   t_finance

        <where>
            is_valid = 1
            and state = 0

            order by id

        </where>

    </select>




</mapper>