<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.dao.ProgressDao">
	
	<select id="selectForPage" resultType="progress">
	select 
	id, 
	create_man,
	center,
	
	phone,hope_money,
	finish_money,
     unfinish_money,
     marks 
     from  
     tb_progressforms
     
			<where>
				is_valid = 1 
			 <if test="@Ognl@isNotEmpty(center)">
					and center like '%${center}%'
				</if>
				<if test="@Ognl@isNotEmpty(createMan)">
					and create_man like '%${createMan}%'
				</if> 
			</where>
	</select>
	

</mapper>